<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediSystem</title>
</head>
<body>
    <h1>Bienvenido</h1>
    
    <a href="{%url 'listarPaciente' %}">Modulo de Pacientes</a>
    <br/> 
    <a href="{%url 'listarCita' %}">Modulo de Citas</a>
    <br/>
    <a href="{%url 'listarDoctor' %}">Modulo de Doctores</a>
    <br/>
    <a href="{%url 'listarEbais' %}">Modulo de Ebais</a>
    
</body>
</html>